*{
    padding: 0;
    margin: 0;
}
nav
{
    position: fixed;
    background-color: skyblue;
    height: 60px;
    width: 100%;
    z-index: 1;
}

.logo{
    font-size: 25px;
    position: relative;
    left: 5;
    color: aliceblue;
    font-weight: bold;
    line-height: 70px;
    
}

ul {
    position: relative;
    float: right;
}